body {
	background-position: top;
	background-repeat: repeat-y;
	background-image: url(fundo.png);
}

.vidro {
	backdrop-filter: blur(5px);
	box-shadow: 0px 0px 6px 0px rgba(179, 68, 68, 0.5);
	width:600px; 
	height: auto; 
	margin: auto;
}

.cabecalho {
	margin: 20px 0;
	padding: 10px;
	background-position: top;
	background: #b97bb9;
	width: 580px;
	height: 100px;
	top: 0;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
	text-align-last: end;
}

.apresentacao {
    src: url('https://www.dafont.com/pt/austria.font');
}

.logo {
	width: 110px;
	height: 100px;
	margin-right: 20px;
}
.container {	
	height: 100%;
	/*display: flex;*/
	align-items: center;
    justify-content: center;
 }

.animated-word {
	font-family: Helvetica;
	letter-spacing: 0.2em;
	font-weight: 600;
	text-align: center;
	color: #215283;
    cursor: pointer;
    max-width: 600px; 
    width: 100%; 
    outline: 3px solid;
    outline-color: rgba(149 27 135 / 42%);
    outline-offset:0px;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
    margin-right: 10px;
}

.animated-word:hover {
	color: rgba(149 27 135 / 42%);
    outline-color: rgba(149 27 135 / 42%);
    outline-offset: 300px;
}

.img-cont {
	width: 600px;
	height: 200px;
}